{% extends 'cardapio/base.html' %}

{% block titulo %}Editar Categoria{% endblock %}

{% block conteudo %}
<h2>Editar Categoria: {{ categoria.nome }}</h2>

<form method="post">
    {% csrf_token %}
    <table class="formulario">
        {{ formulario.as_table }}
    </table>
    <div class="mt-3">
        <button type="submit" class="btn btn-warning">Salvar Alterações</button>
        <a href="{% url 'cardapio:lista-categorias' %}" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
{% endblock %}
